
<!-- Start Hero Area -->
<section class="hero-section height-470" style="background-image:url(assets/images/about_us.png)" data-aos="fade-up">
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-hrader text-white text-center">
                        <h1 class="display-3">About Us</h1>
                        <div class="page-breadcrumb">
                            <p><a class="text-white" href="index.html">Home</a> - About us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->
<!-- Start Services -->
<section class="services-section section-ptb">
    <div class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="300">
                    <div class="single-service-3 text-center py-5 px-4 border">
                        <div class="service-icon">
                            <img src="assets/images/service_icon_07.png" alt="service one" class="img-fluid">
                        </div>
                        <div class="service-text">
                            <h4>Scholarship Facility</h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="400">
                    <div class="single-service-3 active text-center text-white py-5 px-4">
                        <div class="service-icon">
                            <img src="assets/images/service_icon_01.png" alt="service one" class="img-fluid">
                        </div>
                        <div class="service-text">
                            <h4>Skilled Lecturers</h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-xs-5" data-aos="fade-up" data-aos-delay="500">
                    <div class="single-service-3 text-center py-5 px-4 border">
                        <div class="service-icon">
                            <img src="assets/images/service_icon_08.png" alt="service one" class="img-fluid">
                        </div>
                        <div class="service-text">
                            <h4>Book Library & Store</h4>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                            <a href="#">Read More <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Services -->
<!-- Start Welcome Section -->
<section class="welcome-section section-pb">
    <div class="welcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mb-3d-5 pl-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="half_column_image owl-carousel image-gallery">
                        <div class="single-gallery">
                            <img src="assets/images/gallery_01.jpg" alt="welcome">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/slider_bg_6.jpg" alt="welcome">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/slider_bg_7.jpg" alt="welcome">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/slider_bg_5.jpg" alt="welcome">
                        </div>
                        <div class="single-gallery">
                            <img src="assets/images/slider_bg_4.jpg" alt="welcome">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pr-120-lg" data-aos="fade-up" data-aos-delay="500">
                    <div class="half_column_content_2">
                        <h2 class="sub-title">Campus Tour</h2>
                        <p> dolore numquam, necessitatibus corporis vel. Lorem ipsum dolor sit amet consectetur. consectetur iusto consequatur vero voluptatibus maiores</p>
                        <div class="theme-list">
                            <ul>
                                <li><a href="#">Best Industry Leaders</a></li>
                                <li><a href="#">Learn Courses Online from FoxCoders</a></li>
                                <li><a href="#">Best Environment to Learn Something New</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Welcome Section -->
<!-- Start Countdown -->
<div class="countdown-area default_bg section-ptb overlay_2" style="background: url(assets/images/countdown_bg.jpg);" data-aos="fade-up" data-aos-delay="300">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-xs-5">
                <div class="single-countdown">
                    <span class="counter">60</span>
                    <p>Teachers</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-xs-5">
                <div class="single-countdown">
                    <span class="counter">800</span>
                    <p>Students</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-xs-5">
                <div class="single-countdown">
                    <span class="counter">37</span>
                    <p>Courses</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-countdown">
                    <span class="counter">19</span>
                    <p>National Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Countdown -->
<!-- Start Featured-2 Section-->
<section class="featured-2-section section-ptb" data-aos="fade-up" data-aos-delay="300">
    <div class="featured-area-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title">
                        <h2>Why Choose Us? </h2>
                        <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3d-5">
                    <div class="featured-2-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quod! In vero voluptate blanditiis error cum nesciunt exercitationem? Commodi iure, autem eligendi animi soluta placeat ut obcaecati voluptatibus tempore magni!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, dicta!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit.</p>
                        <a href="#" class="button_one">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="featured-2-wrapper">
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fas fa-user-injured"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Expert Teachers</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fab fa-napster"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Multimedia Class</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fas fa-microphone"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Music & Art Class</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="featured-2-wrapper">
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fas fa-music"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Quizzes Wich Can Be</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fas fa-compact-disc"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Quizzes Wich Can</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                        <div class="single-featured-3 d-flex">
                            <div class="featured-2-icon">
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                            <div class="featured-2-text">
                                <h5>Managed Teachers</h5>
                                <p>Each course curriculum can be made with lessons & quizzes wich can be managed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured-2 Section-->
<!-- Start Our Team Carousel -->
<section class="team-section section-ptb dark_3_bg" data-aos="fade-up" data-aos-delay="300">
    <div class="our-team-area show_navigation_3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="section-title-2 text-center mb-4">
                        <h2>Our Instructor</h2>
                        <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="our-team-carousel-3 owl-carousel">
                        <div class="single-team bg-white">
                            <div class="member-image-2">
                                <img src="assets/images/member_07.jpg" alt="team member" class="img-fluid">
                                <div class="social-profile-3">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-info-3 border border-top-0 text-center p-4">
                                <div class="designation mb-3">
                                    <h5>Mohammad MK</h5>
                                    <span>UI/UX Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-team bg-white">
                            <div class="member-image-2">
                                <img src="assets/images/member_08.jpg" alt="team member" class="img-fluid">
                                <div class="social-profile-3">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-info-3 border border-top-0 text-center p-4">
                                <div class="designation mb-3">
                                    <h5>Stephen Hoking</h5>
                                    <span>Physics Teacher</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-team bg-white">
                            <div class="member-image-2">
                                <img src="assets/images/member_09.jpg" alt="team member" class="img-fluid">
                                <div class="social-profile-3">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-info-3 border border-top-0 text-center p-4">
                                <div class="designation mb-3">
                                    <h5>Micheal Jhon</h5>
                                    <span>Senior Teacher</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-team bg-white">
                            <div class="member-image-2">
                                <img src="assets/images/member_08.jpg" alt="team member" class="img-fluid">
                                <div class="social-profile-3">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-info-3 border border-top-0 text-center p-4">
                                <div class="designation mb-3">
                                    <h5>Micheal Jhon</h5>
                                    <span>Senior Teacher</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Team Carousel -->
<!-- Start Testimonials Section -->
<section class="testimonials-section section-ptb" data-aos="fade-up" data-aos-delay="300">
    <div class="testimonials-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center pb-0">
                        <h2>What Our Students Say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="testimonials-wrapper-3 owl-carousel">
                        <div class="single-testimonial-3 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                            <div class="testimonial-referance">
                                <strong>Mohammad Abdullah </strong>
                                <span> - UI Designer</span>
                            </div>
                        </div>
                        <div class="single-testimonial-3 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                            <div class="testimonial-referance">
                                <strong>Mohammad Abdullah </strong>
                                <span> - UI Designer</span>
                            </div>
                        </div>
                        <div class="single-testimonial-3 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.  Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipisicing</p>
                            <div class="testimonial-referance">
                                <strong>Mohammad Abdullah </strong>
                                <span> - UI Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Section -->
