
<!-- Start Hero Area -->
<section class="hero-section height-470" style="background-image:url(assets/images/about_us.png)" data-aos="fade-up">
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-hrader text-white text-center">
                        <h1 class="display-3">Events</h1>
                        <div class="page-breadcrumb">
                            <p><a class="text-white" href="index.html">Home</a> - Events</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->
<!--Start Page -->
<div class="page-wrapper section-ptb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="300">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_01.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="400">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_02.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="500">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_03.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-xs-5" data-aos="fade-up" data-aos-duration="300">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_04.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-xs-5" data-aos="fade-up" data-aos-duration="400">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_05.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="#"><img src="assets/images/event_06.jpg" class="img-fluid" alt="event"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <div class="single-meta">
                                <p><i class="fas fa-calendar-alt"></i> 09 June, 2019</p>
                            </div>
                            <div class="single-meta">
                                <p><i class="fas fa-clock"></i> 2.00-5.00PM</p>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h4><a href="#">Build Education Website</a></h4>
                            <p>Consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore  dolore magna Consectetur adipis.</p>
                            <a href="#" class="button_one_alt">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Pagination -->
    <div class="pagination-area" data-aos="fade-up" data-aos-duration="300">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="pagination-wrapper">
                        <ul>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pagination -->
</div>
<!-- End Page -->